.b1 {
  border: 4px solid black;
}
.b2 {
  border-width: 4px;
  border-style: solid;
  border-color: black;
}
.b3 {
  border-width: 4px;
  border-color: black;
}
.b4 {
  border: 4px black;
}
.b5 {
  border: solid;
}
.b6 {
  border-top-style: solid;
}
.b7 {
  border-right-style: solid;
}
.b8 {
  border-bottom-style: solid;
}
.b9 {
  border-left-style: solid;
}
.b10 {
  border-block-style: solid;
}
.b11 {
  border-block-start-style: solid;
}
.b12 {
  border-block-end-style: solid;
}
.b13 {
  border-inline-style: solid;
}
.b14 {
  border-inline-start-style: solid;
  writing-mode: vertical-rl;
}
.b15 {
  border-inline-end-style: solid;
}
.b16 {
  /* writing-mode: horizontal-tb; */
  /* writing-mode: vertical-lr; */
  writing-mode: vertical-rl;
}
.b17 {
  border-style: solid;
}
.b18 {
  border-style: solid dashed;
}
.b19 {
  border-style: solid dashed double;
}
.b20 {
  border-style: solid dashed double groove;
}

.b21 {
  border-style: solid;
  border-block-end-width: 20px;
  writing-mode: vertical-rl;
}
.b22 {
  border-style: solid;
  border-width: 16px;
  color: red;
  /* border-color: red; */
}
.b23 {
  border: 8px solid black;
  border-radius: 8px;
}
.b24 {
  border: 8px solid black;
  border-radius: 8px 16px;
}
.b25 {
  border: 8px solid black;
  border-radius: 10px 40px 90px;
}
.b26 {
  border: 8px solid black;
  border-radius: 10px 30px 50px 70px;
  writing-mode: vertical-rl;
}
.b27 {
}
.b27 {
}
.b28 {
}
.b29 {
}
.b30 {
}
